// COLOR VARIABLES
$color-foreground: #c69963;
$color-foreground-dark: #b28451;

$color-background-minority: #242933;
$color-background-majority: #232325;

$color-scrollbar-background: #27282b;

$color-unhovered-item: #a4a4a4;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$font-special: "Niramit", sans-serif;

/// RESPONSIVE  BREAKPOINTS
$bp-xl: 1400px;
$bp-lg: 1000px;
$bp-md: 750px;
$bp-sm: 550px;

// BOX-SHADOWS
$pickSection-boxShadow: 0.1rem 0.1rem 0.5rem 0 black;
$pickSection-boxShadow-elevate: 0.3rem 0.3rem 0.3rem 0 black;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-md) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-sm) {
    font-size: 40%;
  }
}

body {
  font-family: $font-primary;
  color: $color-foreground;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: $color-scrollbar-background;
}

::-webkit-scrollbar-thumb {
  background-color: $color-foreground-dark;
  border-radius: 3px;
}

.homePage__container {
  display: grid;
  grid-template-rows: 10vh 88vh 10vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas:
    "navBar navBar navBar navBar"
    "pickSection pickSection pickSection pickSection"
    "footer footer footer footer";
}

.loginPage__container {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas:
    "navBar navBar navBar navBar"
    "loginSection loginSection loginSection loginSection"
    "footer footer footer footer";
}

.signupPage__container {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas:
    "navBar navBar navBar navBar"
    "signupSection signupSection signupSection signupSection"
    "footer footer footer footer";
}
