.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    repeat(4, minmax(min-content, 20rem))
    minmax(1rem, 1fr);
  grid-template-rows:
    minmax(1rem, 1fr)
    minmax(min-content, 10rem)
    minmax(1rem, 1fr);
  grid-template-areas:
    ". . . . ."
    ". footer__business footer__suggestions footer__bugReport footer__reportPlayer ."
    ". . . . .";
  background-color: #242933;

  &__business {
    grid-area: footer__business;
  }
  &__suggestions {
    grid-area: footer__suggestions;
  }
  &__bugReports {
    grid-area: footer__bugReport;
  }
  &__reportPlayer {
    grid-area: footer__reportPlayer;
  }
}
