.loginSection {
  grid-area: loginSection;
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(min-content, 40rem)
    minmax(1rem, 1fr);
  grid-template-rows: 20vh 50vh 25vh;
  grid-template-areas:
    ". . ."
    ". loginForm ."
    ". . .";
  background-color: $color-background-majority;
  &__loginForm {
    display: grid;
    grid-area: loginForm;
    grid-template-columns:
      minmax(1rem, 1fr)
      minmax(min-content, 30rem)
      minmax(1rem, 1fr);
    grid-template-rows: 3vh 10vh 5vh 5vh 5vh 3vh 3vh;
    grid-template-areas:
      ". . ."
      ". loginSection__loginForm__loginText ."
      ". loginSection__loginForm__accountInput ."
      ". loginSection__loginForm__passInput ."
      ". loginSection__loginForm__loginButton ."
      ". loginSection__loginForm__signUpText ."
      ". . .";

    background-color: $color-background-minority;
    box-shadow: $pickSection-boxShadow;

    &__loginText {
      grid-area: loginSection__loginForm__loginText;
      text-align: center;
      align-self: center;
      font-size: 4rem;
      font-family: $font-special;
    }

    &__accountInput {
      grid-area: loginSection__loginForm__accountInput;
      font-size: 2rem;
      border-radius: 0.5rem 0.5rem 0 0;
      border: none;
      border-bottom-style: solid;
      border-bottom-width: 0.1rem;
      border-bottom-color: grey;
      padding-left: 1rem;
      &:focus {
        outline: none;
      }
    }

    &__passInput {
      grid-area: loginSection__loginForm__passInput;
      border-radius: 0 0 0.5rem 0.5rem;
      border: none;
      padding-left: 1rem;
      font-size: 2rem;
      &:focus {
        outline: none;
      }
    }

    &__loginButton {
      grid-area: loginSection__loginForm__loginButton;
      margin-top: 1rem;
      background-color: $color-foreground-dark;
      border: 0;
      font-size: 2rem;
      box-shadow: $pickSection-boxShadow;
      border-radius: 0.5rem;
      outline: none;
      transition: transform 0.1s 0s;
      &:hover {
        box-shadow: $pickSection-boxShadow-elevate;
        transform: translateY(-0.1rem);
      }
      &:active {
        transform: translateY(-0.1rem);
      }
    }

    &__signUpText {
      grid-area: loginSection__loginForm__signUpText;
    }
  }
}
