.navBar {
  display: grid;
  grid-gap: 0.2rem;
  grid-area: navBar;
  grid-template-columns:
    minmax(1rem, 1fr) minmax(min-content, 30rem) 2fr minmax(min-content, 10rem)
    minmax(min-content, 10rem) minmax(min-content, 10rem) minmax(1rem, 1fr);
  grid-template-areas: ". navBar_logo . navBar_alert navBar_login navBar_signUp .";

  background-color: $color-background-minority;
  &_logo {
    grid-area: navBar_logo;
    justify-self: center;
    align-self: center;
    &_text {
      font-size: 3.8rem;
      font-family: $font-special;
    }
  }
  &_login {
    grid-area: navBar_login;
    justify-self: end;
    align-self: center;

    &_button {
      width: 6rem;
      height: 5rem;
      border-radius: 2px;
      border-radius: 2px;
      background-color: #e5e5e5;
      border: 0;
      color: #1671ac;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &_button:hover {
      background-color: $color-foreground-dark;
    }
  }
  &_signUp {
    grid-area: navBar_signUp;
    justify-self: start;
    align-self: center;
    &_button {
      width: 8rem;
      height: 5rem;
      border-radius: 2px;
      background-color: #1671ac;
      border: 0;
      color: #e5e5e5;
      font-size: 1.5rem;
      font-weight: bold;
    }
    &_button:hover {
      background-color: $color-foreground-dark;
      color: #0c3354;
    }
  }
  &_logout {
    grid-area: navBar_signUp;
    font-size: 3rem;
    justify-self: start;
    align-self: center;
  }
  &_accountInfo {
    grid-area: navBar_login;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    color: green;
    &_glyph {
      color: $color-foreground-dark;
    }
  }
  &_alert {
    grid-area: navBar_alert;
    font-size: 3rem;
    justify-self: end;
    align-self: center;
  }
}
