.navbar {
  display: grid;
  grid-gap: 0.2rem;
  grid-area: navbar;
  grid-template-columns:
    minmax(1rem, 1fr) minmax(min-content, 30rem) 2fr minmax(min-content, 10rem)
    minmax(min-content, 10rem) minmax(min-content, 10rem) minmax(1rem, 1fr);
  grid-template-areas: ". navbar_logo . navbar_alert navbar_login navbar_signup .";
  border-bottom-width: 0.1rem;
  border-bottom-color: black;
  border-bottom-style: solid;
  background-color: $color-background-minority;

  &__linkStyle {
    color: $color-unhovered-item;
    &:focus {
      color: $color-unhovered-item;
    }
    &:hover {
      color: $color-foreground-dark;
    }
  }

  &__logo {
    grid-area: navbar_logo;
    justify-self: center;
    align-self: center;
    &__text {
      font-size: 3.8rem;
      font-family: $font-special;
      text-decoration: none;
      color: $color-foreground-dark;
    }
  }
  &__login {
    grid-area: navbar_login;
    justify-self: end;
    align-self: center;

    &__button {
      width: 6rem;
      height: 5rem;
      border-radius: 2px;
      border-radius: 2px;
      background-color: #e5e5e5;
      border: 0;
      color: #1671ac;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__button:hover {
      background-color: $color-foreground-dark;
    }
  }
  &__signup {
    grid-area: navbar_signup;
    justify-self: start;
    align-self: center;
    &__button {
      width: 8rem;
      height: 5rem;
      border-radius: 2px;
      background-color: #1671ac;
      border: 0;
      color: #e5e5e5;
      font-size: 1.5rem;
      font-weight: bold;
    }
    &__button:hover {
      background-color: $color-foreground-dark;
      color: #0c3354;
    }
  }
  &__logout {
    grid-area: navbar_signup;
    font-size: 3rem;
    justify-self: start;
    align-self: center;
    &__glyph {
      color: $color-unhovered-item;
      &:hover {
        color: $color-foreground-dark;
      }
    }
  }
  &__accountInfo {
    grid-area: navbar_login;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    &__glyph {
    }
  }
  &__alert {
    grid-area: navbar_alert;
    font-size: 3rem;
    justify-self: end;
    align-self: center;
    &__glyph {
      color: $color-unhovered-item;
      &:hover {
        color: $color-foreground-dark;
      }
    }
  }
}
