$pickSection_box_shadow: .1rem .1rem .5rem 0 black;
$pickSection_box_shadow_elevate: .3rem .3rem .3rem 0 black;

@keyframes pickSection_findMatch_button_animation_clicked {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.pickSection {
  display: grid;
  grid-area: pickSection;
  grid-template-columns:
    minmax(1rem, 1fr) minmax(min-content, 3rem)
    minmax(min-content, 20rem)
    minmax(min-content, 60rem) minmax(1rem, 1.5fr);
  grid-template-rows: 8vh 18rem 44vh 8vh;
  grid-template-areas:
    ". . . pickSection_searchBar ."
    ". pickSection_userSide_title pickSection_userSide pickSection_champSelect ."
    ". pickSection_opponentSide_title pickSection_opponentSide pickSection_champSelect ."
    ". . pickSection_findMatch_button pickSection_champSelect .";
  grid-gap: 1rem;
  background-color: $color-secondary-light;
  &_champSelect {
    display: grid;
    grid-area: pickSection_champSelect;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill, 11rem);
    // border: 0.3rem solid $color-secondary;
    // border-radius: 0.5rem;
    box-shadow: $pickSection_box_shadow;
    overflow-y: auto;
    background-color: $color-secondary;
    overflow-x: hidden;
    // box-shadow: 0 0 0 0.1rem black;
    &_img {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 10rem;
      &_picked {
        filter: grayscale(100%);
        margin-top: 1rem;
        width: 8rem;
        height: 8rem;
        border-radius: 10rem;
      }
    }
    &_img:hover {
      box-shadow: 0 0 0 0.25rem $color-alert;
      border-radius: 10rem;
    }
    &_text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      &_picked {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: darkgrey;
      }
    }
  }
  &_opponentSide {
    grid-area: pickSection_opponentSide;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 11rem);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-secondary;
    box-shadow: $pickSection_box_shadow;
    &_title {
      grid-area: pickSection_opponentSide_title;
      display: flex;
      justify-content: start;
      align-items: flex-end;

      &_text {
        font-size: 6rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: $font-special;
      }
    }
    &_img {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 10rem;
      &:hover {
        box-shadow: 0 0 0 0.25rem $color-alert;
        border-radius: 10rem;
        filter: grayscale(100%);
      }
    }
    &_text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  &_userSide {
    grid-area: pickSection_userSide;
    background: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2rem solid $color-secondary;
    // border-radius: 0.5rem;
    box-shadow: $pickSection_box_shadow;
    &_title {
      grid-area: pickSection_userSide_title;
      justify-self: center;
      align-self: center;
      &_text {
        font-size: 6rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: $font-special;
      }
    }
    &_img {
      width: 12rem;
      height: 12rem;
      margin-top: 3rem;
      &:hover {
        box-shadow: 0 0 0 0.25rem $color-alert;
        filter: grayscale(100%);
      }
    }
    &_text {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  &_searchBar {
    grid-area: pickSection_searchBar;
    display: grid;
    grid-template-columns: minmax(min-content, 25rem) minmax(1rem, 1fr) minmax(
        min-content,
        20rem
      );
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      ". . ."
      ". . ."
      "searchBar . laneIcons";
    &_styling {
      grid-area: searchBar;
      border-radius: 0.2rem;
      background-color: $color-secondary;
      border: 0;
      padding-left: 1rem;
      font-size: 2rem;
      height: 3.5rem;
      color: $color-alert;
      box-shadow: $pickSection_box_shadow;
    }
    &_icon {
      grid-area: laneIcons;
    }
  }

  &_champion {
    justify-self: center;
  }
  &_laneIcons {
    grid-area: pickSection_searchBar;
    justify-self: end;
    align-self: end;
    &_styling {
      width: 3rem;
      height: 3rem;
    }
  }

  &_findMatch {
    -webkit-transition: transform 0.1s 0s;
    grid-area: pickSection_findMatch_button;
    &_button {
      width: 20rem;
      height: 7rem;
      background-color: $color-alert;
      box-shadow: $pickSection_box_shadow;
      border: 0;
      font-size: 3rem;
      font-family: $font-special;
      -webkit-transition: 0.2s 0s;


      &:active {
      }
      &:focus {
        outline: 0;
        animation: pickSection_findMatch_button_animation_clicked 1s;  
      }
      &:hover {
        transform: translateY(-.4rem);
        box-shadow: $pickSection_box_shadow_elevate;
  
      }
    }
    
  }


}
