.pickSection {
  display: grid;
  grid-area: pickSection;
  grid-template-columns:
    minmax(1rem, 1fr) minmax(min-content, 15rem) minmax(min-content, 60rem)
    minmax(min-content, 20rem) minmax(1rem, 1fr);
  grid-template-rows: 8vh 18rem 45vh;
  grid-template-areas:
    ". pickSection_userSide_title pickSection_searchBar pickSection_opponentSide_title ."
    ". pickSection_userSide pickSection_champSelect pickSection_opponentSide ."
    ". . pickSection_champSelect pickSection_opponentSide .";

  grid-gap: 1rem;
  background-color: $color-secondary-light;

  &_champSelect {
    display: grid;
    grid-area: pickSection_champSelect;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill, 11rem);

    border: 0.3rem solid $color-secondary;
    border-radius: 0.5rem;
    overflow-y: auto;
    background-color: $color-secondary;
    overflow-x: hidden;
    box-shadow: 0 0 0 0.1rem black;

    &_img {
      width: 8rem;
      height: 8rem;
      border-radius: 10rem;
      &_picked {
        filter: grayscale(100%);
        width: 8rem;
        height: 8rem;
        border-radius: 10rem;
      }
    }
    &_img:hover {
      box-shadow: 0 0 0 0.25rem $color-alert;
      border-radius: 10rem;
    }
    &_text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      &_picked {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: darkgrey;
      }
    }
  }

  &_opponentSide {
    grid-area: pickSection_opponentSide;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 11rem);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-secondary;
    border-radius: 0.5rem;
    border: 0.3rem solid $color-secondary;
    box-shadow: 0 0 0 0.1rem black;

    &_title {
      grid-area: pickSection_opponentSide_title;
      justify-self: center;
      align-self: end;
      font-size: 3rem;
    }
    &_img {
      width: 8rem;
      height: 8rem;
      border-radius: 10rem;
      &:hover {
        box-shadow: 0 0 0 0.25rem $color-alert;
        border-radius: 10rem;
        filter: grayscale(100%);
      }
    }

    &_text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &_userSide {
    grid-area: pickSection_userSide;
    background: $color-secondary;
    display: grid;
    border: 2rem solid $color-secondary;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.1rem black;

    &_title {
      grid-area: pickSection_userSide_title;
      justify-self: center;
      align-self: end;
      font-size: 3rem;
    }
    &_img {
      width: 12rem;
      height: 12rem;
    }
    &_text {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &_searchBar {
    grid-area: pickSection_searchBar;
    justify-self: start;
    align-self: end;
    &_styling {
      border-radius: 0.2rem;
      background-color: $color-secondary;
      border: 1px solid black;
      padding-left: 1rem;
      width: 20rem;
      height: 2.5rem;
      color: $color-alert;
    }

    &_icon {
      grid-area: pickSection_searchBar;
      width: 2rem;
      height: 2rem;
    }
  }

  &_champion {
    justify-self: center;
  }

  &_laneIcons {
    grid-area: pickSection_searchBar;
    justify-self: end;
    align-self: end;

    &_styling {
      width: 3rem;
      height: 3rem;
    }
  }
}
