.pickSection {
  display: grid;
  grid-area: pickSection;
  grid-template-columns:
    minmax(1rem, 1fr) minmax(min-content, 3rem)
    minmax(min-content, 20rem)
    minmax(min-content, 60rem) minmax(1rem, 1.5fr);
  grid-template-rows: 8vh 18rem 44vh 8vh;
  grid-template-areas:
    ". . . pickSection__searchBar ."
    ". pickSection__userSide__title pickSection__userSide pickSection__champSelect ."
    ". pickSection__opponentSide__title pickSection__opponentSide pickSection__champSelect ."
    ". . pickSection__findMatch__button pickSection__champSelect .";
  grid-gap: 1rem;
  background-color: $color-background-majority;

  &__champSelect {
    display: grid;
    grid-area: pickSection__champSelect;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill, 11rem);
    box-shadow: $boxShadow;
    overflow-y: auto;
    background-color: $color-background-minority;
    overflow-x: hidden;
    &__img {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 10rem;
      &--picked {
        filter: grayscale(100%);
        margin-top: 1rem;
        width: 8rem;
        height: 8rem;
        border-radius: 10rem;
      }
    }
    &__img:hover {
      box-shadow: 0 0 0 0.25rem $color-foreground;
      border-radius: 10rem;
    }
    &__text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      &--picked {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: darkgrey;
      }
    }
  }

  &__opponentSide {
    grid-area: pickSection__opponentSide;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 11rem);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-background-minority;
    box-shadow: $boxShadow;
    &__title {
      grid-area: pickSection__opponentSide__title;
      display: flex;
      justify-content: start;
      align-items: flex-end;

      &__text {
        font-size: 6rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: $font-special;
      }
    }
    &__img {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 10rem;
      &:hover {
        box-shadow: 0 0 0 0.25rem $color-foreground;
        border-radius: 10rem;
        filter: grayscale(100%);
      }
    }
    &__text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__userSide {
    grid-area: pickSection__userSide;
    background: $color-background-minority;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2rem solid $color-background-minority;
    // border-radius: 0.5rem;
    box-shadow: $boxShadow;
    &__title {
      grid-area: pickSection__userSide__title;
      justify-self: center;
      align-self: center;
      &__text {
        font-size: 6rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: $font-special;
      }
    }
    &__img {
      width: 12rem;
      height: 12rem;
      margin-top: 3rem;
      &:hover {
        box-shadow: 0 0 0 0.25rem $color-foreground;
        filter: grayscale(100%);
      }
    }
    &__text {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  &__searchBar {
    grid-area: pickSection__searchBar;
    display: grid;
    grid-template-columns: minmax(min-content, 25rem) minmax(1rem, 1fr) minmax(
        min-content,
        20rem
      );
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      ". . ."
      ". . ."
      "searchBar . laneIcons";
    &__styling {
      grid-area: searchBar;
      border-radius: 0.2rem;
      background-color: $color-background-minority;
      border: 0;
      padding-left: 1rem;
      font-size: 2rem;
      height: 3.5rem;
      color: $color-foreground;
      box-shadow: $boxShadow;
    }
    &__icon {
      grid-area: laneIcons;
    }
  }
  &__champion {
    justify-self: center;
  }
  &__laneIcons {
    grid-area: pickSection__searchBar;
    justify-self: end;
    align-self: end;
    &__styling {
      width: 3rem;
      height: 3rem;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0);
      }
      &--picked {
        width: 3rem;
        height: 3rem;
        filter: grayscale(0);
      }
    }
  }
  &__findMatch {
    transition: transform 0.1s 0s;
    grid-area: pickSection__findMatch__button;
    &__button {
      width: 20rem;
      height: 7rem;
      background-color: $color-foreground;
      box-shadow: $boxShadow;
      border: 0;
      font-size: 3rem;
      font-family: $font-special;
      transition: all 0.2s;
      &:hover {
        transform: translateY(-0.25rem);
        box-shadow: $boxShadow-elevate;
      }
      &:active {
        outline: none;
        transform: translateY(0.25rem);
      }
    }
  }
}
