.userSection {
  display: grid;
  grid-area: userSection;
  grid-column-gap: 1rem;
  grid-template-rows: 10vh 70vh 10vh;
  grid-template-columns:
    minmax(min-content, 2.5fr)
    minmax(min-content, 10rem)
    minmax(min-content, 20rem)
    minmax(min-content, 40rem)
    minmax(min-content, 3fr);
  background-color: $color-background-majority;
  grid-template-areas:
    ". . . . ."
    ". userSection__summonerName userSection__menuSelect userSection__menuView ."
    ". . . . .";

  &__summonerName {
    grid-area: userSection__summonerName;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__text {
      grid-area: userSection__summonerName__text;
      font-size: 6rem;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: $font-special;
    }
  }

  &__menuSelect {
    grid-area: userSection__menuSelect;
    display: grid;
    grid-template-rows: 2rem 50vh;
    justify-content: center;
    grid-template-areas:
      "."
      "userSection__menuSelect__items";
    &__items {
      grid-area: userSection__menuSelect__items;
      display: grid;
      grid-template-columns: minmax(min-content, 18rem);
      grid-template-rows: repeat(auto-fit, 4rem);
      grid-row-gap: 1rem;
      &__item {
        box-shadow: $boxShadow;
        background-color: $color-foreground-dark;
        transition: transform 0.1s 0s;
        &:hover {
          transform: translateY(-0.25rem);
          box-shadow: $boxShadow-elevate;
        }
        &:active {
          outline: none;
          transform: translateY(0.25rem);
        }
        &__text {
          font-size: 2rem;
          text-align: center;
          color: $color-background-minority;
          font-family: $font-special;
          font-weight: bold;
        }
      }
    }

    background-color: $color-background-minority;
    box-shadow: $boxShadow;
  }
  &__menuView {
    grid-area: userSection__menuView;
    background-color: $color-background-minority;
    box-shadow: $boxShadow;
  }
}
