@mixin matchItem__rank {
  writing-mode: vertical-rl;
  font-size: 1.6rem;
  font-family: $font-special;
  transform: rotate(180deg);
  text-align: center;
  justify-self: end;
  font-weight: bold;
}

@mixin matchItem__championIcon {
  width: 8rem;
}

@mixin matchItem__buttonDefaults {
  border: none;
  font-size: 2rem;
  transition: transform 0.1s 0s;

  &:hover {
    transform: scale(1.05);
    box-shadow: $boxShadow-elevate;
  }
}

.userSection {
  display: grid;
  grid-area: userSection;
  grid-column-gap: 1rem;
  grid-template-rows: 10vh 70vh 10vh;
  grid-template-columns:
    minmax(min-content, 2.5fr)
    minmax(min-content, 10rem)
    minmax(min-content, 20rem)
    minmax(min-content, 50rem)
    minmax(min-content, 3fr);
  background-color: $color-background-majority;
  grid-template-areas:
    ". . . . ."
    ". userSection__summonerName userSection__menuSelect userSection__menuView ."
    ". . . . .";

  &__matchItem {
    display: grid;
    grid-template-columns: 4rem 14rem 5rem 14rem 4rem;
    grid-template-rows: 2rem 8rem 2rem;
    grid-template-areas:
      "userSection__matchItem__accept . userSection__matchItem__lane . userSection__matchItem__decline"
      "userSection__matchItem__accept userSection__matchItem__summonerOne userSection__matchItem__versus userSection__matchItem__summonerTwo userSection__matchItem__decline"
      "userSection__matchItem__accept . . . userSection__matchItem__decline";
    background-color: $color-background-majority;
    box-shadow: $boxShadow;

    &__accept {
      grid-area: userSection__matchItem__accept;
      @include matchItem__buttonDefaults();
      background-color: #0a8300;
    }

    &__decline {
      grid-area: userSection__matchItem__decline;
      @include matchItem__buttonDefaults();
      background-color: #a50606;
    }

    &__lane {
      grid-area: userSection__matchItem__lane;
      align-self: end;
      justify-self: center;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__versus {
      grid-area: userSection__matchItem__versus;
      align-self: center;
      justify-self: center;
      font-size: 1.3rem;
      font-weight: bold;
    }

    &__summonerOne {
      display: grid;
      grid-area: userSection__matchItem__summonerOne;
      grid-template-columns: 1rem 3rem 6rem;
      grid-column-gap: 0.2rem;
      grid-template-areas: ". userSection__matchItem__summonerOne__rank userSection__matchItem__summonerOne__championIcon";
      &__championIcon {
        grid-area: userSection__matchItem__summonerOne__championIcon;
        @include matchItem__championIcon();
      }
      &__rank {
        grid-area: userSection__matchItem__summonerOne__rank;
        @include matchItem__rank();
      }
    }

    &__summonerTwo {
      display: grid;
      grid-area: userSection__matchItem__summonerTwo;
      grid-template-columns: 1rem 3rem 6rem;
      grid-column-gap: 0.2rem;
      grid-template-areas: ". userSection__matchItem__summonerTwo__rank userSection__matchItem__summonerTwo__championIcon";

      &__championIcon {
        grid-area: userSection__matchItem__summonerTwo__championIcon;
        @include matchItem__championIcon();
      }
      &__rank {
        grid-area: userSection__matchItem__summonerTwo__rank;
        @include matchItem__rank();
      }
    }
  }

  &__summonerName {
    grid-area: userSection__summonerName;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__text {
      grid-area: userSection__summonerName__text;
      font-size: 6rem;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: $font-special;
    }
  }

  &__menuSelect {
    grid-area: userSection__menuSelect;
    display: grid;
    grid-template-rows: 2rem 50vh;
    justify-content: center;
    grid-template-areas:
      "."
      "userSection__menuSelect__items";
    &__items {
      grid-area: userSection__menuSelect__items;
      display: grid;
      grid-template-columns: minmax(min-content, 18rem);
      grid-template-rows: repeat(auto-fit, 4rem);
      grid-row-gap: 1.5rem;
      &__item {
        box-shadow: $boxShadow;
        background-color: grey;
        transition: transform 0.1s 0s;
        outline: none;
        border: none;
        &:hover {
          transform: translateY(-0.1rem);
          box-shadow: $boxShadow-elevate;
          background-color: $color-foreground-dark;
        }
        &:active {
          outline: none;
          transform: translateY(0.1rem);
        }
        &__text {
          font-size: 2rem;
          text-align: center;
          color: $color-background-minority;
          font-family: $font-special;
          font-weight: bold;
        }

        &--clicked {
          background-color: $color-foreground-dark;
        }
      }
    }

    background-color: $color-background-minority;
    box-shadow: $boxShadow;
  }
  &__menuView {
    grid-area: userSection__menuView;
    background-color: $color-background-minority;
    box-shadow: $boxShadow;
    display: grid;
    grid-template-rows: 2rem 65vh;
    grid-template-columns:
      minmax(min-content, 1fr)
      minmax(min-content, 35rem)
      minmax(min-content, 1fr);
    grid-template-areas:
      ". . ."
      ". view .";

    &__accountSettings {
      grid-area: view;
    }

    &__newMatches {
      grid-area: view;
      display: grid;
      grid-template-columns: minmax(min-content, 35em);
      grid-template-rows: repeat(auto-fill, 12rem);
      grid-row-gap: 2rem;
    }

    &__matchHistory {
      grid-area: view;
    }
  }
}
