.noLinkStyle {
  text-decoration: none;
  color: #b28451; }
  .noLinkStyle:active {
    color: #c69963; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

button:focus,
a:focus,
input:focus {
  outline: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 750px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 550px) {
    html {
      font-size: 40%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #c69963;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #27282b; }

::-webkit-scrollbar-thumb {
  background-color: #b28451;
  border-radius: 3px; }

.homePage__container {
  display: grid;
  grid-template-rows: 10vh 88vh 10vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas: "navBar navBar navBar navBar" "pickSection pickSection pickSection pickSection" "footer footer footer footer"; }

.loginPage__container {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas: "navBar navBar navBar navBar" "loginSection loginSection loginSection loginSection" "footer footer footer footer"; }

.signupPage__container {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas: "navBar navBar navBar navBar" "signupSection signupSection signupSection signupSection" "footer footer footer footer"; }

.navBar {
  display: grid;
  grid-gap: 0.2rem;
  grid-area: navBar;
  grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 30rem) 2fr minmax(min-content, 10rem) minmax(min-content, 10rem) minmax(min-content, 10rem) minmax(1rem, 1fr);
  grid-template-areas: ". navBar_logo . navBar_alert navBar_login navBar_signup .";
  border-bottom-width: 0.1rem;
  border-bottom-color: black;
  border-bottom-style: solid;
  background-color: #242933; }
  .navBar__linkStyle {
    color: #a4a4a4; }
    .navBar__linkStyle:focus {
      color: #a4a4a4; }
    .navBar__linkStyle:hover {
      color: #b28451; }
  .navBar__logo {
    grid-area: navBar_logo;
    justify-self: center;
    align-self: center; }
    .navBar__logo__text {
      font-size: 3.8rem;
      font-family: "Niramit", sans-serif;
      text-decoration: none;
      color: #b28451; }
  .navBar__login {
    grid-area: navBar_login;
    justify-self: end;
    align-self: center; }
    .navBar__login__button {
      width: 6rem;
      height: 5rem;
      border-radius: 2px;
      border-radius: 2px;
      background-color: #e5e5e5;
      border: 0;
      color: #1671ac;
      font-size: 1.5rem;
      font-weight: bold; }
    .navBar__login__button:hover {
      background-color: #b28451; }
  .navBar__signup {
    grid-area: navBar_signup;
    justify-self: start;
    align-self: center; }
    .navBar__signup__button {
      width: 8rem;
      height: 5rem;
      border-radius: 2px;
      background-color: #1671ac;
      border: 0;
      color: #e5e5e5;
      font-size: 1.5rem;
      font-weight: bold; }
    .navBar__signup__button:hover {
      background-color: #b28451;
      color: #0c3354; }
  .navBar__logout {
    grid-area: navBar_signup;
    font-size: 3rem;
    justify-self: start;
    align-self: center; }
    .navBar__logout__glyph {
      color: #a4a4a4; }
      .navBar__logout__glyph:hover {
        color: #b28451; }
  .navBar__accountInfo {
    grid-area: navBar_login;
    font-size: 3rem;
    justify-self: center;
    align-self: center; }
  .navBar__alert {
    grid-area: navBar_alert;
    font-size: 3rem;
    justify-self: end;
    align-self: center; }
    .navBar__alert__glyph {
      color: #a4a4a4; }
      .navBar__alert__glyph:hover {
        color: #b28451; }

.pickSection {
  display: grid;
  grid-area: pickSection;
  grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 10rem) minmax(min-content, 20rem) minmax(min-content, 60rem) minmax(1rem, 1.5fr);
  grid-template-rows: 8vh 21vh 4rem 39vh 8vh;
  grid-template-areas: ". . . pickSection__searchBar ." ". pickSection__userSide__title pickSection__userSide pickSection__champSelect ." ". . pickSection__selectLane pickSection__champSelect ." ". pickSection__opponentSide__title pickSection__opponentSide pickSection__champSelect ." ". . pickSection__findMatch__button pickSection__champSelect .";
  grid-gap: 1rem;
  background-color: #232325; }
  .pickSection__selectLane {
    grid-area: pickSection__selectLane;
    display: grid; }
    .pickSection__selectLane__button {
      text-align: center;
      background-color: #b28451;
      border: none;
      font-size: 2rem;
      font-family: "Niramit", sans-serif;
      box-shadow: 0.1rem 0.1rem 1rem 0 black;
      transition: all 0.2s; }
      .pickSection__selectLane__button:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0.3rem 0.3rem 3rem 0 black; }
      .pickSection__selectLane__button:active {
        outline: none;
        transform: translateY(0.25rem); }
  .pickSection__champSelect {
    display: grid;
    grid-area: pickSection__champSelect;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill, 11rem);
    box-shadow: 0.1rem 0.1rem 1rem 0 black;
    overflow-y: auto;
    background-color: #242933;
    overflow-x: hidden; }
    .pickSection__champSelect__img {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 10rem; }
      .pickSection__champSelect__img--picked {
        filter: grayscale(100%);
        margin-top: 1rem;
        width: 8rem;
        height: 8rem;
        border-radius: 10rem; }
    .pickSection__champSelect__img:hover {
      box-shadow: 0 0 0 0.25rem #c69963;
      border-radius: 10rem; }
    .pickSection__champSelect__text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold; }
      .pickSection__champSelect__text--picked {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: darkgrey; }
  .pickSection__opponentSide {
    grid-area: pickSection__opponentSide;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 11rem);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #242933;
    box-shadow: 0.1rem 0.1rem 1rem 0 black; }
    .pickSection__opponentSide__title {
      grid-area: pickSection__opponentSide__title;
      display: flex;
      justify-content: start;
      align-items: flex-end; }
      .pickSection__opponentSide__title__text {
        font-size: 6rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: "Niramit", sans-serif; }
    .pickSection__opponentSide__img {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 10rem; }
      .pickSection__opponentSide__img:hover {
        box-shadow: 0 0 0 0.25rem #c69963;
        border-radius: 10rem;
        filter: grayscale(100%); }
    .pickSection__opponentSide__text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold; }
  .pickSection__userSide {
    grid-area: pickSection__userSide;
    background: #242933;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 1rem 0 black; }
    .pickSection__userSide__title {
      grid-area: pickSection__userSide__title;
      justify-self: center;
      align-self: center; }
      .pickSection__userSide__title__text {
        font-size: 6rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: "Niramit", sans-serif; }
    .pickSection__userSide__img {
      width: 12rem;
      height: 12rem;
      margin-top: 3rem; }
      .pickSection__userSide__img:hover {
        box-shadow: 0 0 0 0.25rem #c69963;
        filter: grayscale(100%); }
    .pickSection__userSide__text {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold; }
  .pickSection__searchBar {
    grid-area: pickSection__searchBar;
    display: grid;
    grid-template-columns: minmax(min-content, 25rem) minmax(1rem, 1fr) minmax(min-content, 20rem);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ". . ." ". . ." "searchBar . laneIcons"; }
    .pickSection__searchBar__styling {
      grid-area: searchBar;
      border-radius: 0.2rem;
      background-color: #242933;
      border: 0;
      padding-left: 1rem;
      font-size: 2rem;
      height: 3.5rem;
      color: #c69963;
      box-shadow: 0.1rem 0.1rem 1rem 0 black; }
    .pickSection__searchBar__icon {
      grid-area: laneIcons; }
  .pickSection__champion {
    justify-self: center; }
  .pickSection__laneIcons {
    grid-area: pickSection__searchBar;
    justify-self: end;
    align-self: end; }
    .pickSection__laneIcons__styling {
      width: 3rem;
      height: 3rem;
      filter: grayscale(100%); }
      .pickSection__laneIcons__styling:hover {
        filter: grayscale(0); }
      .pickSection__laneIcons__styling--picked {
        width: 3rem;
        height: 3rem;
        filter: grayscale(0); }
  .pickSection__findMatch {
    transition: transform 0.1s 0s;
    grid-area: pickSection__findMatch__button; }
    .pickSection__findMatch__button {
      width: 20rem;
      height: 7rem;
      background-color: #c69963;
      box-shadow: 0.1rem 0.1rem 1rem 0 black;
      border: 0;
      font-size: 3rem;
      font-family: "Niramit", sans-serif;
      transition: all 0.2s; }
      .pickSection__findMatch__button:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0.3rem 0.3rem 3rem 0 black; }
      .pickSection__findMatch__button:active {
        outline: none;
        transform: translateY(0.25rem); }

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(4, minmax(min-content, 20rem)) minmax(1rem, 1fr);
  grid-template-rows: minmax(1rem, 1fr) minmax(min-content, 10rem) minmax(1rem, 1fr);
  grid-template-areas: ". . . . ." ". footer__business footer__suggestions footer__bugReport footer__reportPlayer ." ". . . . .";
  background-color: #242933;
  border-top-width: 0.1rem;
  border-top-color: black;
  border-top-style: solid; }
  .footer__business {
    grid-area: footer__business; }
  .footer__suggestions {
    grid-area: footer__suggestions; }
  .footer__bugReports {
    grid-area: footer__bugReport; }
  .footer__reportPlayer {
    grid-area: footer__reportPlayer; }
