.noLinkStyle {
  text-decoration: none;
  color: #b28451; }
  .noLinkStyle:active {
    color: #c69963; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

button:focus,
a:focus,
input:focus {
  outline: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 750px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 550px) {
    html {
      font-size: 40%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #c69963;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #27282b; }

::-webkit-scrollbar-thumb {
  background-color: #b28451;
  border-radius: 3px; }

.homePage__container {
  display: grid;
  grid-template-rows: 10vh 88vh 10vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas: "navbar navbar navbar navbar" "pickSection pickSection pickSection pickSection" "footer footer footer footer"; }

.loginPage__container {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas: "navbar navbar navbar navbar" "loginSection loginSection loginSection loginSection" "footer footer footer footer"; }

.signupPage__container {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas: "navbar navbar navbar navbar" "signupSection signupSection signupSection signupSection" "footer footer footer footer"; }

.userPage__container {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas: "navbar navbar navbar navbar" "userSection userSection userSection userSection"; }

.navbar {
  display: grid;
  grid-gap: 0.2rem;
  grid-area: navbar;
  grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 30rem) 2fr minmax(min-content, 10rem) minmax(min-content, 10rem) minmax(min-content, 10rem) minmax(1rem, 1fr);
  grid-template-areas: ". navbar_logo . navbar_alert navbar_login navbar_signup .";
  border-bottom-width: 0.1rem;
  border-bottom-color: black;
  border-bottom-style: solid;
  background-color: #242933; }
  .navbar__linkStyle {
    color: #a4a4a4; }
    .navbar__linkStyle:focus {
      color: #a4a4a4; }
    .navbar__linkStyle:hover {
      color: #b28451; }
  .navbar__logo {
    grid-area: navbar_logo;
    justify-self: center;
    align-self: center; }
    .navbar__logo__text {
      font-size: 3.8rem;
      font-family: "Niramit", sans-serif;
      text-decoration: none;
      color: #c69963; }
  .navbar__login {
    grid-area: navbar_login;
    justify-self: end;
    align-self: center; }
    .navbar__login__button {
      width: 6rem;
      height: 5rem;
      border-radius: 2px;
      border-radius: 2px;
      background-color: #e5e5e5;
      border: 0;
      color: #1671ac;
      font-size: 1.5rem;
      font-weight: bold; }
    .navbar__login__button:hover {
      background-color: #b28451; }
  .navbar__signup {
    grid-area: navbar_signup;
    justify-self: start;
    align-self: center; }
    .navbar__signup__button {
      width: 8rem;
      height: 5rem;
      border-radius: 2px;
      background-color: #1671ac;
      border: 0;
      color: #e5e5e5;
      font-size: 1.5rem;
      font-weight: bold; }
    .navbar__signup__button:hover {
      background-color: #b28451;
      color: #0c3354; }
  .navbar__logout {
    grid-area: navbar_signup;
    font-size: 3rem;
    justify-self: start;
    align-self: center; }
    .navbar__logout__glyph {
      color: #a4a4a4; }
      .navbar__logout__glyph:hover {
        color: #b28451; }
  .navbar__accountInfo {
    grid-area: navbar_login;
    font-size: 3rem;
    justify-self: center;
    align-self: center; }
  .navbar__alert {
    grid-area: navbar_alert;
    font-size: 3rem;
    justify-self: end;
    align-self: center; }
    .navbar__alert__glyph {
      color: #a4a4a4; }
      .navbar__alert__glyph:hover {
        color: #b28451; }

.userSection {
  display: grid;
  grid-area: userSection;
  grid-column-gap: 1rem;
  grid-template-rows: 10vh 70vh 10vh;
  grid-template-columns: minmax(min-content, 2.5fr) minmax(min-content, 10rem) minmax(min-content, 20rem) minmax(min-content, 50rem) minmax(min-content, 3fr);
  background-color: #232325;
  grid-template-areas: ". . . . ." ". userSection__summonerName userSection__menuSelect userSection__menuView ." ". . . . ."; }
  .userSection__matchItem {
    display: grid;
    grid-template-columns: 4rem 14rem 5rem 14rem 4rem;
    grid-template-rows: 2rem 8rem 2rem;
    grid-template-areas: "userSection__matchItem__accept . userSection__matchItem__lane . userSection__matchItem__decline" "userSection__matchItem__accept userSection__matchItem__summonerOne userSection__matchItem__versus userSection__matchItem__summonerTwo userSection__matchItem__decline" "userSection__matchItem__accept . . . userSection__matchItem__decline";
    background-color: #232325;
    box-shadow: 0.1rem 0.1rem 1rem 0 black; }
    .userSection__matchItem__accept {
      grid-area: userSection__matchItem__accept;
      border: none;
      font-size: 2rem;
      transition: transform 0.2s 0s;
      background-color: #0a8300; }
      .userSection__matchItem__accept:hover {
        transform: scale(1.05);
        box-shadow: 0.3rem 0.3rem 3rem 0 black; }
      .userSection__matchItem__accept:active {
        transform: scale(0.95);
        box-shadow: 0.1rem 0.1rem 1rem 0 black; }
    .userSection__matchItem__decline {
      grid-area: userSection__matchItem__decline;
      border: none;
      font-size: 2rem;
      transition: transform 0.2s 0s;
      background-color: #a50606; }
      .userSection__matchItem__decline:hover {
        transform: scale(1.05);
        box-shadow: 0.3rem 0.3rem 3rem 0 black; }
      .userSection__matchItem__decline:active {
        transform: scale(0.95);
        box-shadow: 0.1rem 0.1rem 1rem 0 black; }
    .userSection__matchItem__lane {
      grid-area: userSection__matchItem__lane;
      align-self: end;
      justify-self: center;
      font-size: 1.5rem;
      font-weight: bold; }
    .userSection__matchItem__versus {
      grid-area: userSection__matchItem__versus;
      align-self: center;
      justify-self: center;
      font-size: 1.3rem;
      font-weight: bold; }
    .userSection__matchItem__summonerOne {
      display: grid;
      grid-area: userSection__matchItem__summonerOne;
      grid-template-columns: 1rem 3rem 6rem;
      grid-column-gap: 0.2rem;
      grid-template-areas: ". userSection__matchItem__summonerOne__rank userSection__matchItem__summonerOne__championIcon"; }
      .userSection__matchItem__summonerOne__championIcon {
        grid-area: userSection__matchItem__summonerOne__championIcon;
        width: 8rem; }
      .userSection__matchItem__summonerOne__rank {
        grid-area: userSection__matchItem__summonerOne__rank;
        writing-mode: vertical-rl;
        font-size: 1.6rem;
        font-family: "Niramit", sans-serif;
        transform: rotate(180deg);
        text-align: center;
        justify-self: end;
        font-weight: bold; }
    .userSection__matchItem__summonerTwo {
      display: grid;
      grid-area: userSection__matchItem__summonerTwo;
      grid-template-columns: 1rem 3rem 6rem;
      grid-column-gap: 0.2rem;
      grid-template-areas: ". userSection__matchItem__summonerTwo__rank userSection__matchItem__summonerTwo__championIcon"; }
      .userSection__matchItem__summonerTwo__championIcon {
        grid-area: userSection__matchItem__summonerTwo__championIcon;
        width: 8rem; }
      .userSection__matchItem__summonerTwo__rank {
        grid-area: userSection__matchItem__summonerTwo__rank;
        writing-mode: vertical-rl;
        font-size: 1.6rem;
        font-family: "Niramit", sans-serif;
        transform: rotate(180deg);
        text-align: center;
        justify-self: end;
        font-weight: bold; }
  .userSection__summonerName {
    grid-area: userSection__summonerName;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .userSection__summonerName__text {
      grid-area: userSection__summonerName__text;
      font-size: 6rem;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: "Niramit", sans-serif; }
  .userSection__menuSelect {
    grid-area: userSection__menuSelect;
    display: grid;
    grid-template-rows: 2rem 50vh;
    justify-content: center;
    grid-template-areas: "." "userSection__menuSelect__items";
    background-color: #242933;
    box-shadow: 0.1rem 0.1rem 1rem 0 black; }
    .userSection__menuSelect__items {
      grid-area: userSection__menuSelect__items;
      display: grid;
      grid-template-columns: minmax(min-content, 18rem);
      grid-template-rows: repeat(auto-fit, 4rem);
      grid-row-gap: 1.5rem; }
      .userSection__menuSelect__items__item {
        box-shadow: 0.1rem 0.1rem 1rem 0 black;
        background-color: grey;
        transition: transform 0.1s 0s;
        outline: none;
        border: none; }
        .userSection__menuSelect__items__item:hover {
          transform: translateY(-0.1rem);
          box-shadow: 0.3rem 0.3rem 3rem 0 black;
          background-color: #b28451; }
        .userSection__menuSelect__items__item:active {
          outline: none;
          transform: translateY(0.1rem); }
        .userSection__menuSelect__items__item__text {
          font-size: 2rem;
          text-align: center;
          color: #242933;
          font-family: "Niramit", sans-serif;
          font-weight: bold; }
        .userSection__menuSelect__items__item--clicked {
          background-color: #b28451; }
  .userSection__menuView {
    grid-area: userSection__menuView;
    background-color: #242933;
    box-shadow: 0.1rem 0.1rem 1rem 0 black;
    display: grid;
    grid-template-rows: 2rem 65vh;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 43rem) minmax(min-content, 1fr);
    grid-template-areas: ". . ." ". view ."; }
    .userSection__menuView__accountSettings {
      grid-area: view; }
    .userSection__menuView__champQueue {
      grid-area: view;
      display: grid;
      grid-template-columns: minmax(min-content, 44rem);
      grid-template-rows: repeat(auto-fill, 13rem);
      grid-row-gap: 2rem;
      overflow: scroll;
      overflow-x: hidden;
      border: none; }
      .userSection__menuView__champQueue__object {
        display: grid;
        grid-template-columns: 1rem 10rem 3rem 23rem 3rem 4rem;
        grid-template-rows: 1rem 11rem 1rem;
        grid-template-areas: ". . . . . userSection__menuView__champQueue__object__delete" ". userSection__menuView__champQueue__object__practiceChampionImg . userSection__menuView__champQueue__object__opponents . userSection__menuView__champQueue__object__delete" ". . . . . userSection__menuView__champQueue__object__delete";
        background-color: #232325;
        box-shadow: 0.1rem 0.1rem 1rem 0 black; }
        .userSection__menuView__champQueue__object__delete {
          grid-area: userSection__menuView__champQueue__object__delete;
          border: none;
          font-size: 2rem;
          transition: transform 0.2s 0s;
          background-color: #a50606; }
          .userSection__menuView__champQueue__object__delete:hover {
            transform: scale(1.05);
            box-shadow: 0.3rem 0.3rem 3rem 0 black; }
          .userSection__menuView__champQueue__object__delete:active {
            transform: scale(0.95);
            box-shadow: 0.1rem 0.1rem 1rem 0 black; }
        .userSection__menuView__champQueue__object__practiceChampionImg {
          grid-area: userSection__menuView__champQueue__object__practiceChampionImg;
          width: 11rem; }
        .userSection__menuView__champQueue__object__opponents {
          grid-area: userSection__menuView__champQueue__object__opponents;
          display: grid;
          grid-template-columns: repeat(4, 5rem);
          grid-template-rows: repeat(autofill, 4rem);
          grid-gap: 1rem; }
          .userSection__menuView__champQueue__object__opponents__img {
            width: 5rem; }
    .userSection__menuView__newMatches {
      grid-area: view;
      display: grid;
      grid-template-columns: minmax(min-content, 35rem);
      grid-template-rows: repeat(auto-fill, 12rem);
      grid-row-gap: 2rem;
      overflow: scroll;
      overflow-x: hidden; }
    .userSection__menuView__readyMatches {
      grid-area: view;
      display: grid;
      grid-template-columns: minmax(min-content, 35rem);
      grid-template-rows: repeat(auto-fill, 12rem);
      grid-row-gap: 2rem;
      overflow: scroll;
      overflow-x: hidden; }

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(4, minmax(min-content, 20rem)) minmax(1rem, 1fr);
  grid-template-rows: minmax(1rem, 1fr) minmax(min-content, 10rem) minmax(1rem, 1fr);
  grid-template-areas: ". . . . ." ". footer__business footer__suggestions footer__bugReport footer__reportPlayer ." ". . . . .";
  background-color: #242933;
  border-top-width: 0.1rem;
  border-top-color: black;
  border-top-style: solid; }
  .footer__business {
    grid-area: footer__business; }
  .footer__suggestions {
    grid-area: footer__suggestions; }
  .footer__bugReports {
    grid-area: footer__bugReport; }
  .footer__reportPlayer {
    grid-area: footer__reportPlayer; }
