*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 750px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 550px) {
    html {
      font-size: 40%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #c69963;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #27282b; }

::-webkit-scrollbar-thumb {
  background-color: #b28451;
  border-radius: 3px; }

.container {
  display: grid;
  grid-template-rows: 10vh 88vh 12vh;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-areas: "navBar navBar navBar navBar" "pickSection pickSection pickSection pickSection" "footer footer footer footer"; }

.navBar {
  display: grid;
  grid-gap: 0.2rem;
  grid-area: navBar;
  grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 30rem) 2fr minmax(min-content, 10rem) minmax(min-content, 10rem) minmax(1rem, 1fr);
  grid-template-areas: ". navBar_logo . navBar_login navBar_signUp .";
  background-color: #242933; }
  .navBar_logo {
    grid-area: navBar_logo;
    justify-self: center;
    align-self: center; }
    .navBar_logo_text {
      font-size: 3.8rem;
      font-family: "Niramit", sans-serif; }
  .navBar_login {
    grid-area: navBar_login;
    justify-self: end;
    align-self: center; }
    .navBar_login_button {
      width: 6rem;
      height: 5rem;
      border-radius: 2px;
      border-radius: 2px;
      background-color: #e5e5e5;
      border: 0;
      color: #1671ac;
      font-size: 1.5rem;
      font-weight: bold; }
    .navBar_login_button:hover {
      background-color: #b28451; }
  .navBar_signUp {
    grid-area: navBar_signUp;
    justify-self: start;
    align-self: center; }
    .navBar_signUp_button {
      width: 8rem;
      height: 5rem;
      border-radius: 2px;
      background-color: #1671ac;
      border: 0;
      color: #e5e5e5;
      font-size: 1.5rem;
      font-weight: bold; }
    .navBar_signUp_button:hover {
      background-color: #b28451;
      color: #0c3354; }

@keyframes pickSection_findMatch_button_animation_clicked {
  0% {
    transform: translateY(1rem); }
  50% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0); } }

.pickSection {
  display: grid;
  grid-area: pickSection;
  grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 3rem) minmax(min-content, 20rem) minmax(min-content, 60rem) minmax(1rem, 1.5fr);
  grid-template-rows: 8vh 18rem 44vh 8vh;
  grid-template-areas: ". . . pickSection_searchBar ." ". pickSection_userSide_title pickSection_userSide pickSection_champSelect ." ". pickSection_opponentSide_title pickSection_opponentSide pickSection_champSelect ." ". . pickSection_findMatch_button pickSection_champSelect .";
  grid-gap: 1rem;
  background-color: #232325; }
  .pickSection_champSelect {
    display: grid;
    grid-area: pickSection_champSelect;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill, 11rem);
    box-shadow: 0.1rem 0.1rem 0.5rem 0 black;
    overflow-y: auto;
    background-color: #242933;
    overflow-x: hidden; }
    .pickSection_champSelect_img {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 10rem; }
      .pickSection_champSelect_img_picked {
        filter: grayscale(100%);
        margin-top: 1rem;
        width: 8rem;
        height: 8rem;
        border-radius: 10rem; }
    .pickSection_champSelect_img:hover {
      box-shadow: 0 0 0 0.25rem #c69963;
      border-radius: 10rem; }
    .pickSection_champSelect_text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold; }
      .pickSection_champSelect_text_picked {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: darkgrey; }
  .pickSection_opponentSide {
    grid-area: pickSection_opponentSide;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 11rem);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #242933;
    box-shadow: 0.1rem 0.1rem 0.5rem 0 black; }
    .pickSection_opponentSide_title {
      grid-area: pickSection_opponentSide_title;
      display: flex;
      justify-content: start;
      align-items: flex-end; }
      .pickSection_opponentSide_title_text {
        font-size: 6rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: "Niramit", sans-serif; }
    .pickSection_opponentSide_img {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 10rem; }
      .pickSection_opponentSide_img:hover {
        box-shadow: 0 0 0 0.25rem #c69963;
        border-radius: 10rem;
        filter: grayscale(100%); }
    .pickSection_opponentSide_text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold; }
  .pickSection_userSide {
    grid-area: pickSection_userSide;
    background: #242933;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.5rem 0 black; }
    .pickSection_userSide_title {
      grid-area: pickSection_userSide_title;
      justify-self: center;
      align-self: center; }
      .pickSection_userSide_title_text {
        font-size: 6rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: "Niramit", sans-serif; }
    .pickSection_userSide_img {
      width: 12rem;
      height: 12rem;
      margin-top: 3rem; }
      .pickSection_userSide_img:hover {
        box-shadow: 0 0 0 0.25rem #c69963;
        filter: grayscale(100%); }
    .pickSection_userSide_text {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold; }
  .pickSection_searchBar {
    grid-area: pickSection_searchBar;
    display: grid;
    grid-template-columns: minmax(min-content, 25rem) minmax(1rem, 1fr) minmax(min-content, 20rem);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ". . ." ". . ." "searchBar . laneIcons"; }
    .pickSection_searchBar_styling {
      grid-area: searchBar;
      border-radius: 0.2rem;
      background-color: #242933;
      border: 0;
      padding-left: 1rem;
      font-size: 2rem;
      height: 3.5rem;
      color: #c69963;
      box-shadow: 0.1rem 0.1rem 0.5rem 0 black; }
    .pickSection_searchBar_icon {
      grid-area: laneIcons; }
  .pickSection_champion {
    justify-self: center; }
  .pickSection_laneIcons {
    grid-area: pickSection_searchBar;
    justify-self: end;
    align-self: end; }
    .pickSection_laneIcons_styling {
      width: 3rem;
      height: 3rem;
      filter: grayscale(100%); }
      .pickSection_laneIcons_styling:hover {
        filter: grayscale(0); }
      .pickSection_laneIcons_styling_picked {
        width: 3rem;
        height: 3rem;
        filter: grayscale(0); }
  .pickSection_findMatch {
    -webkit-transition: transform 0.1s 0s;
    grid-area: pickSection_findMatch_button; }
    .pickSection_findMatch_button {
      width: 20rem;
      height: 7rem;
      background-color: #c69963;
      box-shadow: 0.1rem 0.1rem 0.5rem 0 black;
      border: 0;
      font-size: 3rem;
      font-family: "Niramit", sans-serif;
      -webkit-transition: 0.2s 0s; }
      .pickSection_findMatch_button:focus {
        outline: 0;
        animation: pickSection_findMatch_button_animation_clicked 1s; }
      .pickSection_findMatch_button:hover {
        transform: translateY(-0.4rem);
        box-shadow: 0.3rem 0.3rem 0.3rem 0 black; }

.footer {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(3, minmax(min-content, 10rem)) minmax(1rem, 1fr);
  grid-template-rows: minmax(1rem, 1fr) minmax(min-content, 10rem) minmax(1rem, 1fr);
  grid-template-areas: ". . . . ." ". footer_about footer_contact footer_support ." ". . . . .";
  grid-area: footer;
  background-color: #242933; }
